<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>C3998872-68CC-42C2-847C-B44D96AB2691</string>
		<string>B395D63E-9166-4CD6-9287-6889D507AD6A</string>
		<string>EE23884D-A5C0-4163-94CF-DBBF3A5ED8D6</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Stefan Ceriu. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCGCReady</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
</dict>
</plist>
